:root {
  --color-text: #fafafa;
  --color-gray-light: #777;
  --color-gray: #ccc2;
  --color-background-one: #343;
  --color-background-two: #232;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--color-background-one);
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--color-background-two)
  );
  color: var(--color-text);
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.notename {
  letter-spacing: 0.07rem;
}

#root {
  height: 100vh;
  height: 100svh;
  width: 100%;

  .container {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .info {
      position: fixed;
      font-size: 1.3rem;
      top: 1rem;
      right: 1rem;
      text-align: end;

      p {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;

        span {
          display: inline-block;
          width: 2.4rem;
        }
      }
      .upDown {
        margin-top: 6vh;
        margin-right: 2.5vh;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 4vh;

        & > div {
          cursor: pointer;
          $size: 3.5vh;
          width: $size;
          height: calc($size * 1.5);

          &:nth-child(2) {
            transform: rotate(180deg);
          }
        }

        .disabled {
          color: var(--color-gray-light);
        }
      }
    }

    .barchart {
      flex: 1;

      display: flex;
      flex-direction: column-reverse;
      align-items: start;
      gap: 0.7vh;
      padding: 0.5rem 0;

      &__note {
        height: 30%;
        background-color: var(--color-gray);
        border: 1px solid var(--color-gray-light);
        display: flex;
        align-items: center;
        transition: all 0.2s;
        position: relative;

        p {
          // font-size: 1.8vh;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 0.5rem;
          display: inline-block;
          width: 10rem;
          // background-color: blue;

          span {
            display: inline-block;
            // width: 2.7rem;
            // width: 5vh;
            // width: .2rem;
          }
        }
      }
    }

    .input {
      width: 78vw;
      max-width: 30rem;
      margin: auto;
      position: relative;

      &__rail {
        width: 100%;
        height: 3rem;
        position: relative;

        &::after {
          // the rail for the ball
          content: '';
          position: absolute;
          left: 0rem;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          height: 0.3rem;
          border-radius: 0.2rem;
          background-color: var(--color-gray-light);
        }
      }

      &__ball,
      &__ball::after {
        touch-action: none; // disable screen panning (mobile)
        // user-select: none;
        position: absolute;
        left: 0;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }

      &__ball {
        z-index: 1;
        width: 6rem;
        height: 5rem;
        // background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &::after {
          left: 50%;
          content: '';
          width: 0.5rem;
          height: 2rem;
          background-color: var(--color-text);
          border: 1px solid #333;
          border-radius: 0.2rem;
        }
      }
    }
  }
}
